Repository yandex-cloud/docs, pull requests merged in 2021-12, with the labels that each got.

#246 Add Serverless Docker Node Container example
  ru/serverless-containers/index.yaml
  ru/serverless-containers/lang/golang/index.md
  ru/serverless-containers/lang/nodejs/index.md
  ru/serverless-containers/quickstart.md
  ru/serverless-containers/toc.yaml
Labels: technical-content, serverless-containers

#242 Добавление примеров кода на PHP для YDB SDK
  ru/ydb/oss/public/reference/ydb-sdk/index.md
Labels: ydb

#247 Examples for Translate in Python and PHP [ru]
  ru/_includes/translate/translate-instruction.md
Labels: translate

#248 Опечатка в документации по подключению к БД для примера на GO
  ru/functions/operations/database-connection.md
Labels: cloud-functions

#252 Add note about Patroni settings
  ru/data-transfer/operations/prepare.md
Labels: data-transfer

#255 Mention rawResults
  ru/speechkit/stt/api/request-api.md
Labels: speechkit

#244 /ru/ydb/solutions/connect-from-cf.html
  ru/_includes/solutions/connect-from-cf-nodejs.md
  ru/_includes/solutions/connect-from-cf.md
  ru/functions/solutions/connect-to-ydb-nodejs.md
  ru/functions/solutions/connect-to-ydb.md
  ru/functions/toc.yaml
  ru/ydb/solutions/connect-from-cf-nodejs.md
  ru/ydb/solutions/connect-from-cf.md
  ru/ydb/toc.yaml
  ru/ydb/yql/reference/syntax/alter_table.md
Labels: ydb, cloud-functions
