Repository yandex-cloud/docs, pull requests merged in 2022-02, with the labels that each got.

#290 feat(cli aws s3) compact command definition
  ru/storage/tools/aws-cli.md
Labels: object-storage

#287 The service called strongswan-starter, not strongswan
  ru/solutions/routing/ipsec-vpn.md
Labels: solutions

#295 Опечатка в документации, два раза перечислен один атрибут
  ru/message-queue/concepts/message.md
Labels: message-queue
