Repository yandex-cloud/docs, pull requests merged in 2022-01, with the labels that each got.

#265 Update read-logs.md
  ru/_includes/logging/read-logs.md
Labels: logging

#277 Fix link to article
  en/compute/operations/vm-connect/recovery-access.md
  ru/compute/operations/vm-connect/recovery-access.md
Labels: compute-cloud

#275 update example for get jwt token via sa
  ru/iam/operations/iam-token/create-for-sa.md
Labels: iam

#251 Update vm-update-resources.md
  ru/compute/operations/vm-control/vm-update-resources.md
Labels: compute-cloud
