Repository yandex-cloud/docs, pull requests merged in 2022-10, with the labels that each got.

#420 Update s3-csi-integration.md
  ru/managed-kubernetes/operations/volumes/s3-csi-integration.md
Labels: managed-kubernetes

#405 Update scrape config example
  ru/monitoring/operations/metric/prometheusExport.md
Labels: monitoring

#438 Update function-authorizer.md
  ru/api-gateway/concepts/extensions/function-authorizer.md
Labels: api-gateway

#414 Update create-from-disks.md
  en/compute/operations/vm-create/create-from-disks.md
Labels: compute-cloud

#415 Update create-vm-with-gpu.md
  en/compute/operations/vm-create/create-vm-with-gpu.md
Labels: compute-cloud

#416 Update create-from-user-image.md
  en/compute/operations/vm-create/create-from-user-image.md
Labels: compute-cloud

#417 Update create-preemptible-vm.md
  en/compute/operations/vm-create/create-preemptible-vm.md
Labels: compute-cloud

#410 Update create-from-disks.md
  ru/compute/operations/vm-create/create-from-disks.md
Labels: improvement, compute-cloud

#411 Update create-from-user-image.md
  ru/compute/operations/vm-create/create-from-user-image.md
Labels: improvement, compute-cloud

#412 Update create-vm-with-gpu.md
  ru/compute/operations/vm-create/create-vm-with-gpu.md
Labels: compute-cloud

#419 Update packer-quickstart.md
  ru/_tutorials/infrastructure-management/packer-quickstart.md
Labels: editorial, tutorials

#418 Update create-preemptible-vm.md
  ru/compute/operations/vm-create/create-preemptible-vm.md
Labels: compute-cloud

#428 Fix typo in "deleteMultipleObjects"
  en/storage/s3/api-ref/object.md
  ru/storage/s3/api-ref/object.md
Labels: editorial, object-storage

#435 Fix v4_cidr_blocks is required in example
  en/compute/operations/vm-create/create-linux-vm.md
  ru/compute/operations/vm-create/create-linux-vm.md
Labels: improvement, compute-cloud

#443 Add set name to block host
  ru/managed-postgresql/operations/cluster-create.md
Labels: managed-postgresql

#442 FIx Postgresql User does not exist
  ru/managed-postgresql/operations/cluster-create.md
Labels: managed-postgresql

#444 schema.registry.ssl.ca.location upd
  ru/_tutorials/kafka/kafka-managed-schema-registry.md
Labels: managed-kafka
