Repository yandex-cloud/docs, pull requests merged in 2022-04, with the labels that each got.

#296 New: Yandex Object Storage: AWS SDK for Go get started (ru&en languages)
  en/_includes/aws-tools/install-go-sdk.md
  en/storage/toc.yaml
  en/storage/tools/aws-sdk-go.md
  en/storage/tools/index.md
  ru/_includes/aws-tools/install-go-sdk.md
  ru/storage/toc.yaml
  ru/storage/tools/aws-sdk-go.md
  ru/storage/tools/index.md
Labels: object-storage

#308 Changes in Helm operation manual for Helm >= 3.7.1
  ru/_includes/tutorials/routing/ipsec-vpn.md
  ru/container-registry/operations/helm-chart/helm-chart-push.md
Labels: container-registry

#316 docs: Добавлен пример для Golang
  ru/message-queue/instruments/golang.md
  ru/message-queue/toc.yaml
Labels: message-queue

#323 Update send-to-clickhouse.md
  ru/data-streams/quickstart/send-to-clickhouse.md
Labels: data-streams

#324 Add note for dns challenges
  en/certificate-manager/concepts/challenges.md
  ru/certificate-manager/concepts/challenges.md
Labels: certificate-manager

#320 Update secret-create.md
  ru/lockbox/operations/secret-create.md
Labels: lockbox

#326 Fix doc for Lockbox
  en/lockbox/operations/secret-create.md
Labels: lockbox
