Repository yandex-cloud/docs, pull requests merged in 2022-06, with the labels that each got.

#345 Update delete-all.md
  ru/storage/operations/objects/delete-all.md
Labels: object-storage

#343 Fix Clickhouse data clean policy links for Data Transfer
  en/data-transfer/operations/endpoint/target/clickhouse.md
  ru/data-transfer/operations/endpoint/target/clickhouse.md
Labels: data-transfer

#348 Update connect-to-s3.md
  ru/datasphere/operations/data/connect-to-s3.md
Labels: datasphere

#347 Pre-signed url via AWS CLI update with --endpoint-url
  en/storage/concepts/pre-signed-urls.md
  ru/storage/concepts/pre-signed-urls.md
Labels: object-storage

#349 Update kubernetes-cluster-namespace-create.md
  ru/managed-kubernetes/operations/kubernetes-cluster/kubernetes-cluster-namespace-create.md
Labels: managed-kubernetes

#351 [Internal LB doc] Typo fix
  en/network-load-balancer/operations/internal-lb-create.md
  ru/network-load-balancer/operations/internal-lb-create.md
Labels: network-load-balancer

#344 Добавил примечание к curl-запросу для Виндоусе
  ru/_includes/telegram-bot-serverless.md
Labels: cloud-functions

#362 Update overview.md
  ru/microsoft/overview.md
Labels: microsoft

#365 Update disk.md
  ru/compute/concepts/disk.md
Labels: compute-cloud

#368 SOA-запись - значение по-умолчанию для RNAME
  ru/dns/concepts/resource-record.md
Labels: cloud-dns

#369 SOA-запись - значение по-умолчанию для RNAME
  en/dns/concepts/resource-record.md
Labels: editorial, cloud-dns
