Repository yandex-cloud/docs, pull requests merged in 2022-11, with the labels that each got.

#452 Minor grammar correction
  ru/managed-kubernetes/concepts/node-group/cluster-autoscaler.md
Labels: managed-kubernetes

#422 change backticks to $(...) syntax
  ru/lockbox/quickstart.md
Labels: lockbox

#430 Update widget-methods.md
  ru/smartcaptcha/concepts/widget-methods.md
Labels: smartcaptcha

#431 Add meta charset UTF-8
  ru/smartcaptcha/concepts/widget-methods.md
Labels: smartcaptcha

#446 Add info about wildcard in captcha
  ru/smartcaptcha/operations/create-captcha.md
Labels: smartcaptcha

#450 Добавил ссылку на создание группы виртуальных машин с помощью terraform
  ru/compute/concepts/instance-groups/specification.md
Labels: improvement, compute-cloud

#451 Update static-route-create.md
  ru/vpc/operations/static-route-create.md
Labels: vpc

#440 Поправил текст относительного того, где брать админский пароль к openvpn
  ru/_tutorials/routing/openvpn.md
Labels: vpc

#434 Remove deprecated interpolation syntax in nat-gateway
  ru/vpc/operations/create-nat-gateway.md
Labels: vpc

#433 Nat gateway is general availability
  ru/vpc/operations/create-nat-gateway.md
Labels: vpc

#432 Nat gateway is general availability
  ru/vpc/concepts/gateways.md
Labels: vpc

#427 Update security groups add rule
  en/vpc/operations/security-group-add-rule.md
  ru/vpc/operations/security-group-add-rule.md
Labels: vpc

#403 internal lb needs role load-balancer.privateAdmin
  ru/network-load-balancer/operations/internal-lb-create.md
Labels: network-load-balancer

#454 Add version to redis example terraform
  ru/managed-redis/operations/cluster-create.md
Labels: improvement, managed-redis

#457 Due to limited resources, Class B hosts are not replicated.
  ru/managed-redis/concepts/replication.md
Labels: improvement, managed-redis

#459 Update vm-metadata.md
  en/compute/concepts/vm-metadata.md
Labels: compute-cloud
