Repository yandex-cloud/docs, pull requests merged in 2022-08, with the labels that each got.

#395 Добавлен рабочий манифест Terraform для полноценного создания бакета
  ru/_includes/storage/create-bucket.md
Labels: technical-content, object-storage

#399 Remove the mention of kubernetes 1.17
  en/managed-kubernetes/operations/update-kubernetes.md
  ru/managed-kubernetes/operations/update-kubernetes.md
  ru/managed-kubernetes/security/index.md
Labels: managed-kubernetes

#400 Remove deprecated interpolation syntax in http-router-create
  en/application-load-balancer/operations/http-router-create.md
  ru/application-load-balancer/operations/http-router-create.md
Labels: application-load-balancer

#408 Update create-linux-vm.md
  ru/compute/operations/vm-create/create-linux-vm.md
Labels: improvement, compute-cloud

#407 Update create-linux-vm.md
  en/compute/operations/vm-create/create-linux-vm.md
Labels: improvement, compute-cloud
