Repository yandex-cloud/docs, pull requests merged in 2022-12, with the labels that each got.

#464 Лишняя скобка { в заголовке страницы
  ru/serverless-containers/operations/index.md
Labels: serverless-containers

#469 Typo fixed
  ru/_tutorials/nginx-ingress-certificate-manager.md
Labels: editorial, managed-kubernetes, tutorials

#437 Add example basic authorizer
  ru/api-gateway/concepts/extensions/function-authorizer.md
Labels: in_progress, api-gateway

#473 Update cron-expression.md
  ru/_includes/functions/cron-expression.md
  ru/functions/concepts/trigger/timer.md
Labels: cloud-functions

#425 Update quickstart
  ru/message-queue/quickstart.md
Labels: message-queue

#470 Invalid URL
  ru/managed-kubernetes/tutorials/node-local-dns.md
Labels: managed-kubernetes

#445 Fix typo in tracker/get-users response.
  ru/tracker/get-users.md
Labels: tracker

#458 Fix typos in some tracker api description
  ru/tracker/concepts/issues/delete-checklist.md
  ru/tracker/concepts/issues/delete-worklog.md
  ru/tracker/concepts/issues/edit-checklist.md
  ru/tracker/concepts/issues/get-checklist.md
  ru/tracker/concepts/issues/issue-worklog.md
  ru/tracker/concepts/issues/new-worklog.md
  ru/tracker/concepts/issues/patch-worklog.md
Labels: tracker

#479 Update quickstart.md
  ru/application-load-balancer/quickstart.md
Labels: application-load-balancer

#478 Update maintenance.md
  ru/managed-mongodb/concepts/maintenance.md
Labels: managed-mongodb

#465 замена "облако" на "каталог"
  ru/audit-trails/operations/export-folder-bucket.md
Labels: audit-trails

#477 Probably, typo in json response example
  ru/vision/concepts/classification/index.md
Labels: vision
