Repository yandex-cloud/docs, pull requests merged in 2022-07, with the labels that each got.

#375 Добавил пример обработки запроса от API Gateway
  en/functions/lang/golang/handler.md
  ru/functions/lang/golang/handler.md
Labels: cloud-functions

#379 Update available minor releases
  en/managed-kubernetes/concepts/release-channels-and-updates.md
  ru/managed-kubernetes/concepts/release-channels-and-updates.md
Labels: managed-kubernetes

#388 Кавычки -d '@body.json'
  ru/speechkit/stt/api/transcribation-ogg.md
Labels: speechkit

#378 Fix typo in docs
  en/_includes/cli/auth-as-sa.md
  ru/_includes/cli/auth-as-sa.md
Labels: improvement, CLI

#387 Для всех bash устанавливать bash-completion пакет
  ru/_includes/cli/install-cli.md
Labels: CLI
