Repository yandex-cloud/docs, pull requests merged in 2023-05, with the labels that each got.

#546 Update storage-logs-analysis.md
  ru/_tutorials/datalens/storage-logs-analysis.md
Labels: datalens

#531 Изменения в данных об использовании параметров ядра ОС на узлах
  ru/managed-kubernetes/concepts/index.md
Labels: in_progress, managed-kubernetes

#565 Update roles-iam-auditor.md
  ru/_includes/roles-iam-auditor.md
Labels: iam

#568 Update boto.md
  ru/storage/tools/boto.md
Labels: object-storage

#466 Seems to be typo mistake
  ru/speechkit/stt/models.md
Labels: in_progress, speechkit

#567 Fix incorrect documentation
  ru/storage/operations/buckets/lifecycles.md
Labels: editorial, object-storage

#570 Update react.md
  ru/smartcaptcha/concepts/react.md
Labels: smartcaptcha
