Repository yandex-cloud/docs, pull requests merged in 2023-10, with the labels that each got.

#637 Fix a typo
  ru/wiki/pages-types.md
Labels: wiki

#632 Update create-bucket.md
  ru/_includes/storage/create-bucket.md
Labels: improvement, object-storage

#621 Поправил ссылку на попап с настройками прав доступа на хоумпейдже
  en/wiki/presets.yaml
  ru/wiki/presets.yaml
Labels: wiki

#627 Update interconnect metric name
  ru/interconnect/concepts/monitoring.md
Labels: cloud-interconnect

#642 Update create.md
  ru/iam/operations/iam-token/create.md
Labels: iam

#606 Update cluster-backups.md
  en/managed-greenplum/operations/cluster-backups.md
Labels: managed-greenplum
