Repository yandex-cloud/docs, pull requests merged in 2023-01, with the labels that each got.

#484 Update telegram-bot-serverless.md
  ru/_tutorials/serverless/telegram-bot-serverless.md
Labels: cloud-functions

#483 Update api-gw-create.md
  ru/api-gateway/operations/api-gw-create.md
Labels: api-gateway

#468 Add curl example for message-queue-send-message
  ru/message-queue/operations/message-queue-send-message.md
Labels: message-queue

#486 Update s3cmd.md
  ru/storage/tools/s3cmd.md
Labels: object-storage

#489 Update vm-scale-scheduled.md
  ru/_tutorials/infrastructure-management/vm-scale-scheduled.md
Labels: compute-cloud, tutorials

#493 Corrected a typo
  ru/functions/operations/function/function-private.md
Labels: cloud-functions

#492 Header 'x-node-alias' deprecated
  ru/speechkit/stt/api/streaming-examples-v3.md
Labels: speechkit

#491 Header 'x-node-alias' deprecated
  ru/speechkit/tts/api/tts-examples-v3.md
Labels: speechkit
