Repository yandex-cloud/docs, pull requests merged in 2023-02, with the labels that each got.

#494 format Go conn code
  en/_includes/mdb/mch-conn-strings.md
Labels: managed-clickhouse

#508 Explain how to use COI Docker Compose spec in Terraform.
  en/cos/tutorials/coi-with-terraform.md
  ru/cos/tutorials/coi-with-terraform.md
Labels: cos

#498 Update web-service.md
  ru/_tutorials/routing/web-service.md
Labels: tutorials

#501 Typo fix
  ru/storage/tools/aws-sdk-go.md
Labels: editorial, object-storage

#516 Update lockbox-secret-transmit.md
  ru/functions/operations/function/lockbox-secret-transmit.md
Labels: cloud-functions

#499 Update s3-disk-connect.md
  ru/_tutorials/windows/s3-disk-connect.md
Labels: tutorials
