Repository yandex-cloud/docs, pull requests merged in 2023-08, with the labels that each got.

#599 Исправление документации по Bucket LifeCycle при работе с AWScli
  ru/storage/operations/buckets/lifecycles.md
Labels: editorial, object-storage

#586 Ошибка в описании
  ru/compute/operations/vm-control/vm-change-cloud.md
Labels: editorial, compute-cloud

#604 Update pvc-snapshot-restore.md
  ru/managed-kubernetes/tutorials/pvc-snapshot-restore.md
Labels: improvement, managed-kubernetes

#598 Update gitlab-runner.md
  ru/managed-kubernetes/operations/applications/gitlab-runner.md
Labels: improvement, managed-kubernetes

#573 Replaced 404 Not Found link with actual one.
  ru/_includes/managed-gitlab/deploy-infrastructure.md
Labels: managed-gitlab

#611 fix sg: add note about access to NTP server
  ru/data-proc/operations/cluster-create.md
Labels: data-proc

#612 Update local-dns-cache.md
  ru/_tutorials/infrastructure-management/local-dns-cache.md
Labels: cloud-dns

#610 Update гост57589
  ru/_includes/security/conform.md
Labels: security
