Repository yandex-cloud/docs, pull requests merged in 2023-06, with the labels that each got.

#574 Update clickhouse terraform example
  en/_tutorials/trails-logs-analysis.md
  ru/_tutorials/trails-logs-analysis.md
Labels: audit-trails

#561 Fix typo in Python exampe
  ru/serverless-containers/quickstart/container.md
Labels: serverless-containers

#572 Обновление версии velero до 1.10 в инструкции по бекапу k8s
  ru/_tutorials/archive/kubernetes-backup.md
Labels: managed-kubernetes

#571 Для узлов и сервисов доступна только половина возможного диапазона подсетей.
  ru/managed-kubernetes/concepts/network.md
Labels: editorial, managed-kubernetes

#575 Update kubernetes-cluster-create.md
  ru/managed-kubernetes/operations/kubernetes-cluster/kubernetes-cluster-create.md
Labels: managed-kubernetes

#576 Update kubernetes-cluster-create.md
  ru/managed-kubernetes/operations/kubernetes-cluster/kubernetes-cluster-create.md
Labels: improvement, managed-kubernetes

#559 Update telegram-bot.md
  ru/cloud-apps/telegram-bot.md
Labels: cloud-apps

#580 Update serverless-live-debug.md
  ru/_tutorials/serverless/serverless-live-debug.md
Labels: serverless-containers
