Repository yandex-cloud/docs, pull requests merged in 2023-09, with the labels that each got.

#609 Update create-static-conf.md
  en/managed-kubernetes/operations/connect/create-static-conf.md
  ru/managed-kubernetes/operations/connect/create-static-conf.md
Labels: improvement, managed-kubernetes

#620 Исправить комментарий в aws-sdk-go.md
  en/storage/tools/aws-sdk-go.md
  ru/storage/tools/aws-sdk-go.md
Labels: improvement, object-storage

#615 Change license of terraform
  en/_tutorials/terraform-definition.md
Labels: terraform

#623 change --max-items in DeleteMarkers on --max-keys
  ru/storage/operations/objects/delete-all.md
Labels: editorial, object-storage

#635 Update row-tables.md yandex_ydb_table
  ru/ydb/terraform/row-tables.md
Labels: ydb
