Repository yandex-cloud/docs, pull requests merged in 2023-07, with the labels that each got.

#587 Fixed error
  ru/kms/operations/encryption.md
Labels: improvement, key-management-service

#588 Fixed logical error
  ru/lockbox/concepts/index.md
Labels: editorial, lockbox

#589 Update virtualenv-safe-config.md
  ru/_includes/security/standard/virtualenv-safe-config.md
Labels: editorial, security

#590 Update registry
  ru/managed-kubernetes/operations/cilium-node-local-dns.md
  ru/managed-kubernetes/tutorials/autoscaling.md
  ru/managed-kubernetes/tutorials/custom-dns.md
  ru/managed-kubernetes/tutorials/marketplace/metrics-provider.md
  ru/managed-kubernetes/tutorials/node-local-dns.md
  ru/managed-kubernetes/tutorials/running-pod-gpu.md
  ru/managed-kubernetes/tutorials/vpa-autoscaling.md
Labels: editorial, managed-kubernetes

#582 fixes typo in index.md
  ru/lockbox/concepts/index.md
Labels: editorial, lockbox

#595 Update create-for-sa.md
  ru/iam/operations/iam-token/create-for-sa.md
Labels: technical-content, iam

#596 Fix terraform commands in the Standard section
  ru/_includes/security/standard/virtualenv-safe-config.md
Labels: editorial, security

#597 Fix: Auto Unseal в Hashicorp Vault
  ru/kms/tutorials/vault-secret.md
Labels: improvement, key-management-service
