Repository yandex-cloud/docs, pull requests merged in 2023-11, with the labels that each got.

#651 Update data-model.md
  ru/datalens/concepts/dataset/data-model.md
Labels: datalens

#640 Update row-tables.md
  ru/ydb/terraform/row-tables.md
Labels: editorial, ydb

#625 Fix a typo
  en/vpc/concepts/mtu-mss.md
Labels: vpc

#641 Update migrate-data-from-hdd-to-ssd.md
  ru/troubleshooting/compute/how-to/migrate-data-from-hdd-to-ssd.md
Labels: troubleshooting

#656 Update alb-ingress-controller-install.md
  ru/_includes/managed-kubernetes/alb-ingress-controller-install.md
Labels: managed-kubernetes, application-load-balancer

#658 Fix managed resource name
  ru/managed-redis/operations/cluster-create.md
Labels: managed-redis

#631 Update bucket-to-bucket-copying.md
  ru/_tutorials/serverless/bucket-to-bucket-copying.md
Labels: cloud-functions

#654 Update rate-limit.md
  ru/api-gateway/concepts/extensions/rate-limit.md
Labels: api-gateway

#650 Update cert-manager-webhook.md
  ru/_tutorials/infrastructure-management/cert-manager-webhook.md
Labels: in_progress, managed-kubernetes

#649 Update vm-change-folder.md
  ru/compute/operations/vm-control/vm-change-folder.md
Labels: compute-cloud

#629 double aws-v1-http-endpoint setting definition
  en/compute/operations/vm-info/get-info.md
Labels: compute-cloud

#643 fix: get autoaction request method
  en/tracker/concepts/queues/get-autoaction.md
  ru/tracker/concepts/queues/get-autoaction.md
Labels: tracker

#528 add_content: add tracker user vars comment params
  en/tracker/user/vars.md
  ru/tracker/user/vars.md
Labels: in_progress, tracker

#660 Update limitations for boto3 lib Yandex Message Queue
  ru/message-queue/instruments/index.md
Labels: message-queue

#666 Update grpc.md
  ru/glossary/grpc.md
Labels: glossary

#668 Update dns.md
  ru/glossary/dns.md
Labels: glossary

#664 Correct S3_BUCKET format in documentation
  en/storage/tools/sftps.md
  ru/storage/tools/sftps.md
Labels: improvement, object-storage
