Repository yandex-cloud/docs, pull requests merged in 2023-03, with the labels that each got.

#480 Update load-balancer-limits.md
  ru/_includes/load-balancer-limits.md
Labels: network-load-balancer

#490 Update mtu-mss.md
  ru/vpc/concepts/mtu-mss.md
Labels: vpc

#495 Исправление статуса
  ru/certificate-manager/concepts/challenges.md
Labels: certificate-manager

#513 Update security-group-create.md
  ru/vpc/operations/security-group-create.md
Labels: vpc

#515 Fix --from-backup
  ru/managed-kubernetes/tutorials/backup.md
Labels: managed-kubernetes

#511 clickhouse-client DEB repository
  ru/_includes/mdb/mch-conn-strings.md
Labels: managed-clickhouse

#518 изменил название параметра при подключении к БД
  ru/datalens/operations/connection/create-mysql.md
Labels: datalens

#510 Fix field spec.provisionBySsh.sshKeySecret in NodeGroup resource
  en/managed-kubernetes/operations/external-nodes-connect.md
  ru/managed-kubernetes/operations/external-nodes-connect.md
Labels: managed-kubernetes

#520 Fixed URL
  ru/managed-mongodb/concepts/supported-clients.md
Labels: improvement, managed-mongodb

#505 Changed the method of setting roles to a more secure one
  ru/_includes/container-registry/run-docker-on-vm-tf-config.md
  ru/_includes/instance-groups/vm-scale-scheduled-tf-config.md
  ru/_includes/web/alb-with-ddos-protection-tf-config.md
  ru/_includes/web/application-load-balancer-tf-config.md
  ru/_includes/web/load-balancer-tf-config.md
  ru/_tutorials/trails-logs-analysis.md
  ru/_tutorials/web/alb-with-ddos-protection.md
  ru/_tutorials/web/application-load-balancer-website.md
  ru/_tutorials/web/load-balancer-website.md
  ru/compute/operations/instance-groups/create-autoscaled-group.md
  ru/compute/operations/instance-groups/create-fixed-group.md
  ru/compute/operations/instance-groups/create-with-balancer.md
  ru/compute/operations/instance-groups/create-with-load-balancer.md
  ru/data-proc/operations/cluster-create.md
  ru/managed-kubernetes/operations/kubernetes-cluster/kubernetes-cluster-create.md
  ru/storage/tutorials/server-side-encryption.md
Labels: improvement, iam

#506 Update security-group-create.md
  ru/vpc/operations/security-group-create.md
Labels: vpc

#524 Update create-fixed-group.md
  ru/compute/operations/instance-groups/create-fixed-group.md
Labels: compute-cloud

#530 Update create-with-balancer.md
  ru/compute/operations/instance-groups/create-with-balancer.md
Labels: technical-content, compute-cloud, network-load-balancer

#532 Update versioning.md
  ru/storage/operations/buckets/versioning.md
Labels: object-storage

#533 Исправление REST API URL для обмена JWT на IAM токен
  ru/iam/operations/iam-token/create-for-sa.md
Labels: improvement, iam

#540 Update storage-get-link-for-download.md
  ru/storage/_includes_service/storage-get-link-for-download.md
Labels: improvement, object-storage
