Repository yandex-cloud/docs, pull requests merged in 2023-04, with the labels that each got.

#539 Update policy.md
  ru/storage/operations/buckets/policy.md
Labels: in_progress, improvement, object-storage

#553 Update vm-autoscale.md
  ru/_tutorials/infrastructure-management/vm-autoscale.md
Labels: compute-cloud

#547 Update spring-boot.md
  ru/functions/lang/java/model/spring-boot.md
Labels: cloud-functions

#549 Update billing-resource-detailing.md
  ru/storage/tutorials/billing-resource-detailing.md
Labels: object-storage

#552 Update doc for java functions build with dependencies
  en/functions/lang/java/dependencies.md
  ru/functions/lang/java/dependencies.md
Labels: cloud-functions

#542 nodejs-cron-restart-vm.md
  ru/functions/nodejs-cron-restart-vm.md
Labels: in_progress, cloud-functions

#555 Update running-pod-gpu.md
  ru/managed-kubernetes/tutorials/running-pod-gpu.md
Labels: managed-kubernetes
