Repository yandex-cloud/docs, pull requests merged in 2024-06, with the labels that each got.

#770 Инструкция по подключению Logback к Cloud Logging
  ru/logging/tutorials/logback-to-logging.md
Labels: logging, new-solution

#767 migrate to fluent-bit for cloud logging from vm
  en/_tutorials/security/vm-fluent-bit-logging.md
  ru/_tutorials/security/vm-fluent-bit-logging.md
Labels: major-update, logging

#775 Инструкция по конфигурации OS Login для Ansible (closes #748)
  ru/security/toc.yaml
  ru/security/tutorials/ansible-oslogin.md
Labels: security, new-solution
