Repository yandex-cloud/docs, pull requests merged in 2024-10, with the labels that each got.

#826 Update transcribation-api-v3.md. Добавил пример на Node.
  ru/speechkit/stt/api/transcribation-api-v3.md
Labels: speechkit

#840 Update terraform-quickstart.md
  ru/_tutorials/infrastructure/terraform-quickstart.md
Labels: editorial, terraform

#841 feat: make minimal billing unit more visible
  ru/storage/pricing.md
Labels: object-storage

#829 Update terraform-key-create.md
  ru/_includes/kms/terraform-key-create.md
Labels: key-management-service

#838 Update authentication.md
  ru/container-registry/operations/authentication.md
Labels: container-registry

#852 Update examples.md
  ru/foundation-models/gpt-prompting-guide/introduction/examples.md
Labels: editorial, foundation-models

#849 Update time-slicing-gpu.md (typo)
  en/managed-kubernetes/tutorials/time-slicing-gpu.md
Labels: editorial, managed-kubernetes

#837 Исправлена опечатка (убран лишний '/')
  en/storage/operations/objects/upload.md
  ru/storage/operations/objects/upload.md
Labels: object-storage

#834 fix typo in docs
  en/_includes/managed-kubernetes/alb-ref/http-backend-group.md
Labels: managed-kubernetes

#795 fix: info about Terraform providers license
  ru/_includes/terraform-intro.md
  ru/_includes/terraform-ref-intro.md
  ru/_tutorials/_tutorials_includes/terraform-definition.md
  ru/_tutorials/infrastructure/terraform-state-lock.md
  ru/_tutorials/infrastructure/terraform-state-storage.md
Labels: improvement, terraform

#853 исправлены опечатки
  ru/glossary/ipsec.md
Labels: glossary

#823 Update loki.md
  ru/managed-kubernetes/operations/applications/loki.md
Labels: improvement, managed-kubernetes

#839 fix value name providerJetYc
  ru/managed-kubernetes/operations/applications/crossplane.md
Labels: in_progress, managed-kubernetes

#845 DOCS: Update create-static-conf.md
  ru/managed-kubernetes/operations/connect/create-static-conf.md
Labels: in_progress, managed-kubernetes
