Repository yandex-cloud/docs, pull requests merged in 2024-05, with the labels that each got.

#765 fix(ru/en): body data type in golang/handler.md
  en/functions/lang/golang/handler.md
  ru/functions/lang/golang/handler.md
Labels: cloud-functions

#773 Update terraform-credentials-sa.md
  en/_tutorials/terraform-credentials-sa.md
Labels: terraform

#749 Added info about dracut command for install virtio drivers
  ru/compute/operations/image-create/custom-image.md
Labels: in_progress, compute-cloud, nbs
