Repository yandex-cloud/docs, pull requests merged in 2024-01, with the labels that each got.

#680 Put route table name in quotes at create-nat-gateway.md
  ru/vpc/operations/create-nat-gateway.md
Labels: vpc

#676 Добавил разъесняющие комментарии и пример
  ru/_tutorials/terraform-credentials-sa.md
Labels: terraform

#677 Update terraform-state-storage.md
  ru/_tutorials/infrastructure/terraform-state-storage.md
Labels: in_progress, object-storage, terraform

#675 Update common-format.md
  ru/tracker/common-format.md
Labels: tracker

#674 Update common-format.md
  ru/tracker/common-format.md
Labels: tracker

#684 Updated quickstart-overview.md
  ru/iam/quickstart-overview.md
Labels: iam

#681 fix: S3 paths
  en/troubleshooting/storage/how-to/moving-data-to-other-bucket-within-folder.md
  en/troubleshooting/storage/how-to/moving-objects-to-glacier-storage-type.md
  ru/troubleshooting/storage/how-to/moving-data-to-other-bucket-within-folder.md
  ru/troubleshooting/storage/how-to/moving-objects-to-glacier-storage-type.md
Labels: troubleshooting
