Repository yandex-cloud/docs, pull requests merged in 2024-02, with the labels that each got.

#685 Update vm-statuses.md
  ru/compute/concepts/vm-statuses.md
Labels: compute-cloud

#689 Update sprints.md
  ru/glossary/sprints.md
Labels: glossary

#700 Update kubernetes-cluster-create.md
  ru/managed-kubernetes/operations/kubernetes-cluster/kubernetes-cluster-create.md
Labels: improvement, managed-kubernetes, terraform

#690 Изменено "в течениИ" на "в течениЕ"
  ru/network-load-balancer/concepts/health-check.md
  ru/troubleshooting/billing/how-to/deadline-for-paymens.md
  ru/troubleshooting/billing/known-issues/payment-not-confirmed-issue.md
  ru/troubleshooting/compute/known-issues/kosmos-vm-connection-issues.md
  ru/troubleshooting/datasphere/known-issues/servant-not-allocated-issue.md
  ru/troubleshooting/smartcaptcha/how-to/check-token-expiration-time.md
Labels: network-load-balancer

#695 Corrected a typo in resources.md
  ru/ydb/concepts/resources.md
Labels: ydb
