Repository yandex-cloud/docs, pull requests merged in 2024-07, with the labels that each got.

#784 tracker mobile link
  en/tracker/presets.yaml
  ru/tracker/presets.yaml
Labels: tracker

#785 Update index.md
  ru/ydb/docapi/tools/aws-sdk/index.md
Labels: ydb

#786 Fix typo in set endpoint_url command
  ru/storage/quickstart/quickstart-aws-cli.md
Labels: object-storage

#783 Update dev-process-repo.md
  ru/tracker/dev-process-repo.md
Labels: tracker

#793 Update permit-bucket-access-only-to-cdn-networks.md
  ru/troubleshooting/cdn/how-to/permit-bucket-access-only-to-cdn-networks.md
Labels: troubleshooting

#790 update(storage tools): add link for AWS SDK for Ruby
  ru/_includes/storage/all-aws-sdks.md
  ru/storage/tools/index.md
  ru/storage/tools/sdk/index.md
Labels: improvement, object-storage
