Repository yandex-cloud/docs, pull requests merged in 2024-04, with the labels that each got.

#737 fix(ru): grpc typo fixed
  ru/glossary/grpc.md
Labels: glossary

#713 Corrected errors in #copy-to-another-org-bucket
  ru/storage/operations/objects/copy.md
Labels: object-storage

#739 Update terraform-configure-provider.md
  ru/_tutorials/_tutorials_includes/terraform-configure-provider.md
Labels: terraform

#735 Update kubernetes-lockbox-secrets.md
  ru/_tutorials/containers/kubernetes-lockbox-secrets.md
  ru/managed-kubernetes/operations/applications/external-secrets-operator.md
Labels: improvement, managed-kubernetes, lockbox

#743 fix: Исправление небольшой опечатки в "Метрики и единицы измерения"
  ru/_qa/monitoring/metrics-measure.md
Labels: monitoring

#747 fix: Исправление опечатки в "Создание интерактивного serverless-приложения с использованием WebSocket"
  ru/_tutorials/serverless/websocket-app.md
Labels: api-gateway

#732 fix(ru): Deleted extra slash
  ru/troubleshooting/iam/how-to/deleting-organization.md
Labels: troubleshooting

#742 Добавление информации метриках в формате prometheus
  en/monitoring/api-ref/MetricsData/prometheusMetrics.md
  ru/monitoring/api-ref/MetricsData/prometheusMetrics.md
Labels: monitoring

#761 docs: added nodejs tts ogg examples
  en/speechkit/tts/api/tts-ogg.md
  ru/speechkit/tts/api/tts-ogg.md
Labels: speechkit

#740 Поправил ссылку на документацию про ограничения UDP балансировщика
  en/network-load-balancer/concepts/listener.md
  ru/network-load-balancer/concepts/listener.md
Labels: network-load-balancer

#741 FIX misspelling in egress
  ru/network-load-balancer/concepts/monitoring.md
Labels: network-load-balancer
