Repository yandex-cloud/docs, pull requests merged in 2024-03, with the labels that each got.

#686 Update terraform-state-lock.md
  ru/_tutorials/infrastructure/terraform-state-lock.md
Labels: ydb, terraform

#715 Исправлены опечатки в описаниях кодов ответа HTTP.
  ru/application-load-balancer/concepts/application-load-balancer.md
Labels: improvement, application-load-balancer

#716 Исправлена опечатка в target-resources.md
  ru/network-load-balancer/concepts/target-resources.md
Labels: network-load-balancer

#721 Fix link to git repo with serverless game
  en/api-gateway/concepts/index.md
  ru/api-gateway/concepts/index.md
Labels: api-gateway

#718 Исправлены две опечатки
  ru/data-proc/concepts/deltalake.md
  ru/data-proc/concepts/settings-list.md
Labels: data-proc

#705 Update data-centers-physical-addresses.md
  ru/troubleshooting/legal/how-to/data-centers-physical-addresses.md
Labels: troubleshooting

#714 Described multi-profile .aws/credentials
  ru/storage/tools/aws-cli.md
Labels: improvement, object-storage

#727 Fix external link to airbyte web-site
  en/_includes/data-transfer/connectivity-marix.md
  ru/_includes/data-transfer/connectivity-marix.md
Labels: data-transfer

#729 fix(ru/en): fixed ydb terraform configure instruction typo
  en/ydb/terraform/configure.md
  ru/ydb/terraform/configure.md
Labels: ydb

#726 [+] Changes PHP example for Message Queue. Now it uses AsyncAWS libra…
  en/message-queue/instruments/php.md
  ru/message-queue/instruments/php.md
Labels: message-queue

#725 feat(ru/en): added list of packages versions for Golang and NodeJS clients for YMQ
  en/message-queue/instruments/golang.md
  en/message-queue/instruments/node.md
  ru/message-queue/instruments/golang.md
  ru/message-queue/instruments/node.md
Labels: message-queue

#724 [+] Adds example how to use message queue with symfony framework
  ru/message-queue/instruments/symfony.md
  ru/message-queue/toc.yaml
Labels: message-queue, major-update
