Repository yandex-cloud/docs, pull requests merged in 2024-08, with the labels that each got.

#801 Fix typo
  en/compute/operations/vm-connect/ssh.md
Labels: compute-cloud

#792 Update base64-encode-command.md
  ru/_includes/vision/base64-encode-command.md
Labels: vision

#802 Update search-issues.md
  ru/tracker/concepts/issues/search-issues.md
Labels: tracker

#811 Исправление логических ошибок в accessing-function-from-mdb.md
  ru/troubleshooting/functions/how-to/accessing-function-from-mdb.md
Labels: troubleshooting
