Repository yandex-cloud/docs, pull requests merged in 2024-09, with the labels that each got.

#816 Fix double storageClassName in static-create-pv.md
  ru/managed-kubernetes/operations/volumes/static-create-pv.md
Labels: improvement, managed-kubernetes

#815 Add warning note to quickstart.md about using AWS CLI without AWS JSON-1.0 protocol
  en/message-queue/quickstart.md
  ru/message-queue/quickstart.md
Labels: message-queue

#817 The links are updated.
  ru/_tutorials/archive/hystax-backup.md
  ru/_tutorials/archive/hystax-disaster-recovery.md
  ru/_tutorials/archive/hystax-migration.md
Labels: in_progress, compute-cloud, tutorials

#821 Fix indents in code
  en/_tutorials/ml-ai/mlflow-datasphere.md
  ru/_tutorials/ml-ai/mlflow-datasphere.md
Labels: datasphere
