Repository yandex-cloud/docs, pull requests merged in 2024-12, with the labels that each got.

#878 Update geo-scope.md
  ru/overview/concepts/geo-scope.md
Labels: overview

#880 Update symmetric-encryption.md
  ru/kms/operations/symmetric-encryption.md
Labels: key-management-service

#883 Fixed missing char
  ru/foundation-models/operations/tuning/create.md
Labels: foundation-models

#884 fix typos in PG documentation
  ru/troubleshooting/managed-postgresql/known-issues/unable-to-remove-cluster-in-dead-state-if-delete-protection-is-activated.md
Labels: managed-postgresql, troubleshooting
