Repository yandex-cloud/docs, pull requests merged in 2024-11, with the labels that each got.

#835 ovsss1/websql--add-mdb-auditor-role
  ru/websql/security/index.md
Labels: web-sql

#857 small indentation fix
  ru/troubleshooting/compute/how-to/transfer-vm-between-clouds.md
Labels: troubleshooting

#859 minor improvements in wording and grammar
  ru/compute/concepts/index.md
Labels: improvement, compute-cloud

#858 Fix RBAC external id tips
  en/managed-kubernetes/security/index.md
  ru/managed-kubernetes/security/index.md
Labels: improvement, managed-kubernetes

#872 Update kubernetes-cluster-create.md
  ru/managed-kubernetes/operations/kubernetes-cluster/kubernetes-cluster-create.md
Labels: improvement, managed-kubernetes

#876 fix model and assistant initiation in simple-assistant.md
  ru/_includes/foundation-models/examples/simple-assistant.md
Labels: improvement, foundation-models
