Repository yandex-cloud/docs, pull requests merged in 2025-01, with the labels that each got.

#874 Update configuring-automatic-image-deletion.md
  ru/troubleshooting/managed-kubernetes/how-to/configuring-automatic-image-deletion.md
Labels: troubleshooting

#886 Update prometheusExport.md
  ru/monitoring/operations/metric/prometheusExport.md
Labels: editorial, monitoring

#844 feat: describe MB unit size
  ru/_includes/pricing-gb-size.md
Labels: ydb

#861 Replaced base64 generator in docs for a website without ads.
  en/_tutorials/serverless/alice-shareable-todolist.md
  ru/_tutorials/serverless/alice-shareable-todolist.md
Labels: serverless-containers

#887 Add JavaScript example to Yandex Cloud S3 presigned-url creating
  ru/_includes/storage/security/pre-signed-urls.md
Labels: in_progress, technical-content, object-storage

#893 fix(tutorials): java-servlet-todo-list html header anchor typo
  ru/_tutorials/serverless/java-servlet-todo-list.md
Labels: cloud-functions

#895 Update hystax-disaster-recovery.md & hystax-migration.md & hystax-backup.md
  ru/_tutorials/archive/hystax-backup.md
  ru/_tutorials/archive/hystax-disaster-recovery.md
  ru/_tutorials/archive/hystax-migration.md
  ru/compute/operations/image-create/upload.md
  ru/compute/toc.yaml
  ru/storage/toc.yaml
  ru/storage/tutorials/index.md
  ru/troubleshooting/compute/how-to/possible-vm-migration-scenarios.md
  ru/tutorials/archive/index.md
  ru/tutorials/toc.yaml
Labels: compute-cloud, tutorials
