Repository yandex-cloud/docs, pull requests merged in 2025-03, with the labels that each got.

#911 Fix table formatting on 'Quotas and Limits' page for SmartCaptcha
  en/_includes/smartcaptcha-limits.md
Labels: smartcaptcha

#894 update mount-bucket.md
  ru/functions/operations/function/mount-bucket.md
Labels: cloud-functions

#915 Update security/index.yaml
  ru/security/index.yaml
Labels: security

#916 Fix typo in Yandex Query tree
  ru/query/toc.yaml
Labels: query

#912 Фикс опечатки и добавление инструкции для yarn
  ru/_tutorials/serverless/nodejs-typescript.md
Labels: cloud-functions

#925 Грамматическая ошибка
  ru/backup/concepts/index.md
Labels: backup
