Repository yandex-cloud/docs, pull requests merged in 2025-07, with the labels that each got.

#961 Update mcp.md. Fix MPC to MCP
  ru/glossary/mcp.md
Labels: glossary

#965 Update external-tables.md
  ru/managed-greenplum/operations/external-tables.md
Labels: managed-greenplum

#966 Update prometheus-grafana-monitoring.md
  ru/_tutorials/k8s/prometheus-grafana-monitoring.md
Labels: technical-content, managed-kubernetes, monitoring

#969 Update opensearch-saml-keycloak.md
  ru/_tutorials/dataplatform/opensearch-saml-keycloak.md
Labels: managed-opensearch

#970 change gprc to grpc everywhere
  en/_includes/search-api/rest-grpc-fields-differ.md
  en/search-api/concepts/generative-response.md
  en/search-api/concepts/web-search.md
  en/search-api/operations/search-images-by-pic.md
  en/search-api/operations/search-images.md
  en/search-api/operations/web-search-sync.md
  en/search-api/operations/web-search.md
  en/speechsense/operations/data/upload-data.md
  ru/_assets/glossary/grpc-architecture.svg
  ru/_assets/glossary/grpc-model.svg
  ru/_assets/glossary/grpc-rest-model.svg
  ru/_assets/glossary/grpc-workflow.svg
  ru/_includes/search-api/rest-grpc-fields-differ.md
  ru/dns/operations/operation-logs.md
  ru/glossary/grpc.md
  ru/search-api/concepts/generative-response.md
  ru/search-api/concepts/web-search.md
  ru/search-api/operations/search-images-by-pic.md
  ru/search-api/operations/search-images.md
  ru/search-api/operations/web-search-sync.md
  ru/search-api/operations/web-search.md
  ru/speechsense/operations/data/upload-data.md
  ru/video/api-ref/quickstart.md
Labels: editorial, glossary, search-api
