Repository yandex-cloud/docs, pull requests merged in 2025-05, with the labels that each got.

#941 Update en/ru vm-connection.md
  en/backup/concepts/vm-connection.md
  ru/backup/concepts/vm-connection.md
Labels: backup

#933 Update overview.md
  ru/_includes/security/standard/overview.md
Labels: security

#943 Updated link to OAuth token revoke
  ru/iam/operations/compromised-credentials.md
Labels: iam

#923 Добавить более простой способ поднять GUI на сервере
  en/troubleshooting/compute/how-to/access-gui-and-xorg-on-linux-vm.md
  ru/troubleshooting/compute/how-to/access-gui-and-xorg-on-linux-vm.md
Labels: technical-content, troubleshooting

#935 Clarify the meaning of idle timeout using en term
  ru/application-load-balancer/operations/http-router-create.md
Labels: improvement, application-load-balancer

#937 Update fluentd.md
  ru/data-streams/quickstart/fluentd.md
Labels: data-streams
