Repository yandex-cloud/docs, pull requests merged in 2025-04, with the labels that each got.

#926 Fix SyntaxError in sample code in boto.md
  ru/storage/tools/boto.md
Labels: object-storage

#921 Update stt.md
  ru/_qa/speechkit/stt.md
Labels: speechkit

#917 Set MessageAttribute to "No" in SendMessageBatchRequestEntry
  en/message-queue/api-ref/data-types/SendMessageBatchRequestEntry.md
  ru/message-queue/api-ref/data-types/SendMessageBatchRequestEntry.md
Labels: message-queue

#910 Update default-catalogue.md
  ru/_includes/default-catalogue.md
Labels: improvement, CLI

#927 Update create-container.md
  ru/marketplace/operations/create-container.md
Labels: marketplace

#929 docs(928): Delete duplicate of "это" in quickstart.md
  ru/smartwebsecurity/quickstart.md
Labels: smart-web-security

#930 Fix typo in CR docs
  ru/container-registry/pricing.md
Labels: container-registry

#932 Update argo-cd.md: add gitlab https access settings prerequisite
  ru/_tutorials/k8s/argo-cd.md
Labels: managed-kubernetes
