Repository yandex-cloud/docs, pull requests merged in 2025-02, with the labels that each got.

#901 Ошибка в номере релиза (год 2025)
  ru/foundation-models/release-notes/index.md
Labels: foundation-models

#902 Ошибка в номере релиза (год) 24.01.2025
  ru/datasphere/release-notes.md
Labels: datasphere

#903 Safari`s labels update for HAR export
  ru/_includes/support/create-har-safari.md
Labels: support

#904 Update trademark.md
  ru/_includes/monitoring/trademark.md
Labels: monitoring
